:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --body-background: white;
  --text: black;
  --primary: blue;
}

[mode='light-mode'] {
  --body-background: white;
  --text: black;
  --primary: blue;

}

[mode='dark-mode'] {
  --body-background: rgb(26, 25, 25);
  --text: white;
  --primary: blue;
  
}

body {
  margin: 0;
  background-color: var( --body-background);
  color: var( --text);
}





