.board {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 12%;
    padding: 1%;
    box-shadow: 0px 10px 20px rgb(114, 112, 112);
}

.board h2, p {
    margin: 5px;
}
.board img {
    width: 100%;
}

.board button {
    padding: 7px;
    margin-right: 4px;
}
