footer {
    position: fixed;
    display: block;
    bottom: 0;
    height: 6%;
    width: 100%;
    font-size: 150%;
    background-color: var(--body-background);
    box-shadow: 0px -10px 10px rgb(114, 112, 112);
}