.search-form {
    width: 100%;
    margin-top: 20px;
}

.search-form input {
    width: 60px; 
    height: 40px;
    margin-right: 5px;
}

input::placeholder {
    color: black;
    opacity: 1;
}

input[type="submit"]:hover {
    background-color: rgb(175, 174, 174);
}

.search-form #text-input {
    width: 250px; 
    height: 40px;
}


